<footer class="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="footer-container">
            <div class="footer-about">
                <a href="#" class="footer-logo">Doxine</a>
                <p>Bringing you the latest fashion trends at affordable prices. Quality clothing for every occasion and
                    every lifestyle.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/login/"><i>f</i></a>
                    <a href="https://www.linkedin.com/login"><i>in</i></a>
                    <a href="https://x.com/i/flow/login"><i>t</i></a>
                    <a href="https://www.instagram.com/accounts/login/?hl=en"><i>ig</i></a>
                </div>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a href="#popular-collections">Collections</a></li>
                    <li><a href="#why-Doxine">Why Doxine</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h3>Collections</h3>
                <ul>
                    <li><a href="#">Mumbai Styles</a></li>
                    <li><a href="#">Delhi Trends</a></li>
                    <li><a href="#">Bangalore Fits</a></li>
                    <li><a href="#">New Arrivals</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p><i>✉</i> support@Doxine.com</p>
                <p><i>📞</i> +91-7021168196</p>
                <p><i>🏠</i> Kalyan East 421306, Mumbai, Maharashtra, India</p>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Doxine. All Rights Reserved.</p>
        </div>
    </div>
</footer>